.card-container {
  margin: 0;
}

.card {
  margin-top: 2rem;
  padding: 1rem;
  padding-top: 3rem;
  min-height: 420px;
}

.card-image {
  height: 50%;
  margin: 0 auto;
}

.card-content {
  padding: 3rem 0 0 !important;
}

.card-image {
  max-width: 80%;
  margin: 0 auto;
}

.media-content > p:not(:last-child) {
  margin-bottom: 3rem ;
}

.wrong-search-div {
  margin: 10rem auto 20rem;
}

@media only screen and (max-width: 600px) {
  .card {
    height: 400px;
    max-height: 500px;
  }

  .card-image {
    height: 50%;
    max-width: 60%;
  }

  .card-content {
    padding: 2rem 0 0 !important;
  }
}