.form-container {
  width: 40%;
  margin: 2rem auto;
}

.form {
  max-width: 100%;
  margin: 1rem auto;
}

.input {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.textarea {
  margin-bottom: 2rem;
}