.modal {

  &__div {
    padding: 2rem;
    
    &--message {
      margin-bottom: 1rem;
      font-size: 1.1rem;
    }

    &--btn {

    }
  }
}

@media only screen and (max-width: 768px) {
  .modal {
    &__div {
      width: 90%;
      margin: 0 auto;
    }
  }
}