.quantity {
  display: flex;
  justify-content: center;
  margin: 1rem 0;

  &__btn {
    border-radius: 3px;

    &--remove {
      text-transform: uppercase;
    }
  }

  &__number {
    background-color: $color-primary;
    padding: .5rem 1.5rem;
    font-weight: bold;
    
  }
}