.search-bar {
  display: block;
  
  &__container {
    position: relative;
    width: 40%;
    margin: 2rem auto;

    &--input {
      font-size: 1.2rem;
      
      &:focus::-webkit-input-placeholder { 
        color:transparent; 
      }
      
      &:focus:-moz-placeholder {
         color:transparent; 
      }
    }

    &--icon {
      position: absolute;
      top: 15px;
      right: 20px;
    }
  }

  &__select-container {
    display: flex;
    justify-content: center;
    align-items: center;


    &--label {
      display: inline-block;
      margin-top: 23px;
      margin-right: 1rem;
    }
  
    &--select {
      display: inline-block;
      font-size: 1.1rem;
      width: 10%;
      outline: none;
    }
  }
}


@media only screen and (max-width: 600px) {
  .search-bar {
    
    &__container {
      width: 60%;
      
      &--input {
        font-size: 1.1rem;

      }
    }
  }
}
