.single-product {
  padding: 1rem 5rem;

  &__image-div {
    padding: 8rem;
  }

  &__admin-buttons-div {
    margin-bottom: 1rem;
    
    &--button {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }

  &__text-div {

    &--item {
      display: inline-block;
      margin-bottom: 3rem !important;
    }
  }

  &__btns-div {
    display: flex;
    justify-content: center;

    &--btn {
      &:not(:last-child) {
        margin-right: 1rem;
      }
    }
  }
}


@media only screen and (max-width: 600px) {
  .single-product {
    margin-top: 2rem;
    padding: 1rem;
    &__image-div {
      padding: 3rem;
    }

    &__btns-div {
      display: flex;
      flex-direction: column;
      
      &--btn {
        &:not(:last-child) {
          margin-right: 0;
          margin-bottom: 1rem;
        }
      }
    }
  }
}