.Toastify {
  &__toast-container {
    width: 320px;
  }
  &__toast--default {
      background: $color-secondary;
      color: $color-white;
      font-weight: bold;
      padding: .5rem;
   }
  
   &__progress-bar,
   &__progress-bar--default,
   &__progress-bar--animated {
      background-color: $color-blue-light;
      color: $color-blue-light;
   }
}