.Toastify {
  &__toast-container {
    width: 320px;
  }
  &__toast--default {
      background: $color-primary;
      color: rgba($color-secondary, .8);
      font-weight: bold;
      padding: .5rem;
      box-shadow: 0 2px 2px 2px rgab($color-black, .6);
   }
  
   &__progress-bar,
   &__progress-bar--default,
   &__progress-bar--animated {
      background-color: $color-blue-light;
      color: $color-blue-light;
   }
}