.top-bar {
  background-color: $color-secondary;
  z-index: 900 !important;

  &__item {

    &:hover,
    &:active,
    &:focus,
    &:focus-within {
      background-color: rgba($color-primary, .1) !important;
    }
  }

  &__link,
  &__title {
    color: $color-white !important;
  }

  &__title {
    position: relative;
    top: 10px;
    left: 10px;
  }

  &__link-container {
    display: flex;
    align-items: center;
  }

  &__link-div {
    height: 100%;
    margin: 0 .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color .3s;

    &:hover {
      background-color: rgba($color-primary, .1);
    }
  }

  &__link {
    display: block;
    padding: .5rem;

    &--burger {
      color: $color-white;
    }
  }
  

  &__icon {
    position: relative;
    top: 6px;
    font-size: 1.5rem;
    
    &--number {
      display: inline-block;
      position: relative;
      margin: 5px;
    }
  }

  &__logout {
    background-color: transparent;
    border: none;
    color: $color-white;
    font-size: inherit;
    cursor: pointer;
  }

}


@media only screen and (max-width: 1023px) {
  .top-bar {
  
    &__item {
      text-align: center;
    }

    &__link-container {
      flex-direction: column;
    }
  
    &__link {
      color: $color-secondary !important;
    }
  }
}