// COLORS:

// Scheme one

// blk: #262626
// dark-gray: #3f3f3f
// while: #f5f5f5
// light-gray: #dcdcdc


// -------------------

// Scheme two

// dark-gray: #3d3d3b
// light-gray: #ebedec
// dark-blue: #4c5870
// light-blue: #a2a9af

$color-primary: #ebedec;
$color-secondary: #2B2E2F; 
$color-blue-dark: #4c5870;
$color-blue-light: #a2a9af;


$color-black: #000;
$color-white: #fff;

$color-gray-light: rgba(211, 211, 211, 0.623);